// =================== Font Scale -> Base 10px; ===================
$font-x-small: 1.25rem;
$font-small: 1.6rem;
$font-x-medium: 2rem;
$font-medium: 2.4rem;
$font-medium-bigger: 3rem;
$font-x-large: 3.8rem;
$font-large: 4.8rem;

// =================== Space system -> base 16px; ===================
$space-s: 0.8rem;
$space-default: 1.6rem;
$space-default-bigger: 2rem;
$space-xm: 2.4rem;
$space-m: 3.2rem;
$space-xl: 6.4rem;
$space-xxl: 12.8rem;