<h2 mat-dialog-title>
  <span> Add a new Team </span>
</h2>

<form [formGroup]="createTeamForm">
  <mat-dialog-content>
    <div class="input-box">
      <h3 class="input-box__title">Team Information</h3>

      <div class="user-input-wrap">
        <input formControlName="name" type="text" required />
        <label class="floating-placeholder"> Nombre </label>
      </div>

      <div class="user-input-wrap">
        <input formControlName="numberOfPlayers" type="text" required />
        <label class="floating-placeholder"> # de jugadores </label>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Ciudad</mat-label>
        <mat-select  formControlName="city">
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{city.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Division</mat-label>
        <mat-select formControlName="division">
          <mat-option *ngFor="let division of divisions" [value]="division.id">
            {{division.description}}
          </mat-option>
        </mat-select>
      </mat-form-field>


    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close>Close</button>
    <button mat-raised-button (click)="createTeam()" color="primary">
      Save
    </button>
  </mat-dialog-actions>
</form>
