.example-container {
    width: 100vw;
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav {
    padding: 2rem;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    justify-content: center;
    align-items: center;
}

.drawer-links {
    display: block;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #202020;
    text-decoration: none;
    padding: 1.6rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);

    &:hover {
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
    }
}

// Utils
.spacer {
    flex: 1 1 auto;
}

.toolbar-button {
    background: none;
    border: none;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}